.tamanhoImagem {
    margin-right: 7px;
    width: 75px;
    height: 75px;
    border-radius: 50% !important;
    margin-bottom: 3px;
}

.tamanhoImagem:hover {
    border: 1px solid #f0c776;
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
}

.lista {
    margin: 0;
    padding: 0;
    width: 270px;
    display: block;
}