h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
}

.texto,
.texto2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white;
}

.texto {
  font-size: 14px;
}

.texto2 {
  font-size: 13px;
}

.divCentral {
  display: flex;
  flex-wrap: wrap;
}

.headerCard {
  display: flex;
  font-weight: 600;
  height: 42px;
  border-color: #cd9629;
  background-color: #1e2023;
  text-align: center;
  justify-content: center;
}

.bodyCard {
  padding: 4px;
  background: #2a2c2e;
  width: 100%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.cartao {
  width: 155px;
  height: 87px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 18px;
  padding-top: 10px;
  border: none;
  background-color: transparent;
}

.cartao2 {
  margin-top: 10px;
  width: 155px;
  height: 87px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  padding-top: 0px;
  border: none;
  background-color: transparent;
}


@media (max-width: 435px) {
  .cartao {
    width: 155px;
    height: 87px;
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    background-color: transparent;
    margin-top: -10px;
  }

}