@import url("https://fonts.cdnfonts.com/css/star-wars");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.app {
    min-height: 100vh;
    background-color: #000;
    position: relative;
}

.main-content {
    position: relative;
    z-index: 1;
}