body {
  background:#000;
  -webkit-font-smoothing: antialiased;
}

.navbar-toggler {
  margin-top: -115px;
  background: #FADE4B;
  font-size: 16px;
  margin-right: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-danger {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
  box-shadow: 0px 0px 11px 6px #FADE4B;
}