body{
  
    background-image: url(https://i.pinimg.com/originals/6d/c1/17/6dc11726798611a9e2fa758a02188bf9.gif);
    -webkit-font-smoothing: antialiased;
}

.navbar-toggler {
    background: #ffff00;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }